**/*.swp
**/__temp__*

results/*.csv
results/*.txt

tests/mnist_seq.txt

kmeans_sequential
kmeans_sequential_sorting
kmeans_parallel
kmeans_parallel_const
kmeans_parallel_sorting
kmeans_parallel_sorting_stream
